/* can be taken out if we dont want to use embedded fonts */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;500;600&display=swap");

h1.home {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
}

h2.home {
    margin-left: 0px;
    font-size: 40px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
}

h3.home {
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
}

p.home {
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}

span.smaller {
    font-size: 75%;
    font-weight: normal;
}

.left {
    float: left;
}

.right {
    float: right;
}
